html
    height: 100%
body
    background: #FFF
    line-height: 1.4
    color: $dark
    height: 100%
    font-size: 13px
    min-width: 320px
    +opensans
    a
        color: $dark
        text-decoration: none
.out
    height: 100%
    padding-top: 54px

.btn
    height: 48px
    color: $white
    background-color: $blue
    text-align: center
    padding: 0 30px
    &:disabled
        background-color: rgba($blue,.4)
    &_remove
        background-color: transparent
        color: $dark
        border: 1px solid $lightGray
        &:disabled
            color: rgba($dark,.54)
            background-color: transparent
    &_w100
        width: 100%

.btn-icon
    display: flex
    align-items: center
    justify-content: center
    color: $white
    background: none
    width: 24px
    height: 24px
    padding: 3px
    .icon
        display: block
        font-size: 18px
    .icon-icons_close
        font-size: 12px
    &_gray
        color: $gray


.footer-btn
    height: 96px
    background-color: $white
    &__inner
        height: 100%
        display: flex
        align-items: center


.form-block
    padding: 24px 0 0
    &__filters-remove
        margin-top: 32px
.form-group
    &:not(:first-child)
        margin-top: 24px
    &:not(:last-child)
        margin-bottom: 24px
    .form-control
        &:not(:first-child)
            margin-top: 8px
    &__title
        margin-bottom: 10px
    &__row
        // display: flex
    &__radio
        display: inline-block
        min-width: 143px
        padding-right: 15px
        // width: 50%
.form-control
    position: relative
    &__icon
        position: absolute
        left: 12px
        top: 50%
        transform: translateY(-50%)
        &-right
            left: auto
            right: 16px
.form-input
    // display: inline-block
    padding: 15px 16px
    font-size: 13px
    width: 100%
    height: 48px
    border: 1px solid $lightGray
    +opensans
    +placeholder
        color: rgba($dark,.54)
        +opensans
    &_search
        height: 100%
        border: none
        padding: 16px 24px
    &_icon
        padding-left: 47px
    &_icon-right
        padding-right: 47px
textarea.form-input
    height: 168px
    resize: none
.divider
    width: 100%
    height: 1px
    background-color: $lightGray
    &:not(:first-child)
        margin-top: 24px
    &:not(:last-child)
        margin-bottom: 24px

.checkbox,
.radio
    cursor: pointer
    display: inline-block
    padding: 2px 0
    input
        display: none
        &:checked ~ .checkbox__text,
        &:checked ~ .radio__text
            &:before
                border-color: $orange
            &:after
                opacity: 1
    &__text
        position: relative
        padding-left: 31px
        // display: block
        &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            width: 22px
            height: 22px
            background-color: $white
            border: 2px solid #c4c4c4
            transition: border-color .3s
        &:after
            content: ''
            position: absolute
            left: 6px
            top: 50%
            transform: translateY(-50%)
            width: 10px
            height: 10px
            background-color: $orange
            opacity: 0
            transition: opacity .3s
.radio
    padding: 3px 0
    &__text
        &:before
            width: 24px
            height: 24px
            border-radius: 50%
        &:after
            border-radius: 50%
            left: 7px

.icon
    display: inline-block

.icon-icons_calendar
    font-size: 11px
.icon-icons_map,
.icon-icons_filter
    font-size: 20px
.icon-icons_search,
.icon-icons_key,
.icon-icons_parking
    font-size: 18px
.icon-icons_speedometer
    font-size: 16px
.icon-icons_satellite
    font-size: 15px






