
<div class="auth-page">
    <div class="auth-page__bg" style="background-image:url('./img/bg_auth.png')"></div>
    <div class="auth-page__inner inner">
        <div class="auth-page__logo">
            <img src="./img/logo@2x.png" alt="logotype">
        </div>
        <div class="auth-page__content">
            <div class="auth-page__title">Восстановление пароля</div>
            <form class="auth-page__form">
                <div class="form-group">
                    {{ mixins.input('Ваша электронная почта') }}
                </div>
                <div class="auth-page__submit">
                    <button type="submit" class="btn btn_orange btn_w100 btn_bold">Отправить запрос</button>
                </div>
            </form>
        </div>
        <div class="auth-page__footer">
            <span>Вернутся к</span>
            <a href="#" class="auth-page__link">Авторизации</a>
        </div>
    </div>
</div>