
<div class="auth-page">
    <div class="auth-page__bg" style="background-image:url('./img/bg_auth.png')"></div>
    <div class="auth-page__inner inner">
        <div class="auth-page__logo">
            <img src="./img/logo@2x.png" alt="logotype">
        </div>
        <div class="auth-page__content">
            <div class="auth-page__title">Восстановление пароля</div>
            <div class="auth-page__message">
                В течении 5 минут Вам на почту придет письмо с инструкцией по восстановлению пароля.
            </div>
            <div class="auth-page__registration">
                <span>Не пришло письмо?</span>
                <a href="#" class="auth-page__link">Повторить запрос</a>
            </div>
        </div>
        <div class="auth-page__footer">
            <span>Вернутся к</span>
            <a href="#" class="auth-page__link">Авторизации</a>
        </div>
    </div>
</div>