<div class="page page_low">
    <div class="page__header">
        {{ mixins.tabsHeader([
            {
                icon: 'rounded-info-button',
                text: 'Инфо'
            },
            {
                icon: 'icons_routes',
                text: 'Поездки',
                active: true
            },
            {
                icon: 'icons_parking-filled',
                text: 'Парковки'
            },
            {
                icon: 'icons_report',
                text: 'Отчет'
            },
            {
                icon: 'icons_photos',
                text: 'Фото'
            }
        ]) }}
        {{ mixins.headObject({
            boxShadow: true,
            arrow: true,
            icon: true,
            text: 'Объект 2'
        }) }}
    </div>
    <div class="page__content">
        <div class="page__content-wrap">
            {{ mixins.map(false,true) }}
        </div>
    </div>
    <div class="page__footer is-fixed">
        {{ mixins.footerBar({
            white: true,
            number: '01',
            title: 'Пробег:',
            distance: '3,59 км'
        }) }}
    </div>
</div>