<div class="page">
        <div class="page__header">
            {{ mixins.headObject({
                high: true,
                boxShadow: true,
                arrow: true,
                text: 'Карта',
                btns: [
                    {
                        icon: 'icons_search'
                    },
                    {
                        icon: 'icons_geozones',
                        bgActive: true
                    }
                ]
            }) }}
            {{ mixins.searchBarHidden() }}
        </div>
        <div class="page__content">
            <div class="page__content-wrap">
                {{ mixins.map() }}
            </div>
        </div>
    </div>