<div class="page">
    <div class="page__header">
        {{ mixins.modalHeader('Новая зона') }}
    </div>
    <div class="page__content">
        <div class="page__content-wrap">
            <div class="page__inner inner">
                <div class="form-block">
                    <div class="form-group">
                        {{ mixins.input('Название') }}
                        {{ mixins.input('Описание') }}
                        {{ mixins.inputNumber({
                            placeholder: 'Допустимая скорость',
                            text: 'км/ч'
                        }) }}
                    </div>
                    <div class="divider"></div>
                    <div class="form-group">
                        {{ mixins.select() }}
                    </div>
                    {% for item in [
                        {
                            title: 'Использовать в отчетах?',
                            radio: [
                                {
                                    radio: true,
                                    name: 'geozoneReport',
                                    text: 'Да'
                                },
                                {
                                    radio: true,
                                    name: 'geozoneReport',
                                    text: 'Нет'
                                }
                            ]
                        }
                    ] %}

                        <div class="form-group">
                            <div class="form-group__title">
                                {{ item.title }}
                            </div>
                            <div class="form-group__row">
                                {% for radio in item.radio %}
                                    
                                    <div class="form-group__radio">
                                        {{ mixins.checkbox(radio) }}
                                    </div>

                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="page__footer">
        {{ mixins.footerBtn('Применить',true) }}
    </div>
</div>