<div class="page">
    <div class="page__header">
        {{ mixins.modalHeader('Фильтры') }}
    </div>
    <div class="page__content">
        <div class="page__content-wrap">
            <div class="page__inner inner">
                <div class="form-block">
                    <div class="form-group">
                        {{ mixins.select('Показать задачи только для') }}
                    </div>
                    {% for item in [
                                {
                                    radio: true,
                                    name: 'services',
                                    text: 'Все задачи'
                                },
                                {
                                    radio: true,
                                    name: 'services',
                                    text: 'Только просроченные',
                                    checked: true
                                },
                                {
                                    radio: true,
                                    name: 'services',
                                    text: 'Просроченные и срочные'
                                }
                            ]
                            %}

                        <div class="form-group">
                            {{ mixins.checkbox(item) }}
                        </div>

                    {% endfor %}
                </div>
                {{ mixins.btnRemove() }}
            </div>
        </div>
    </div>
    <div class="page__footer">
        {{ mixins.footerBtn('Применить') }}
    </div>
</div>