<header class="header{% if menu %} is-open-menu{% endif %}">
    <div class="header__inner inner">
        <div class="header__wrap">
            <div class="header__button">
                <button class="btn-icon" type="button">
                    {{ mixins.icon('icons_menu') }}
                    {{ mixins.icon('icons_close') }}
                </button>
            </div>
            <div class="header__logo">
                <img src="./img/logo@2x.png" alt="logotype">
            </div>
            <div class="header__button">
                <button class="btn-icon" type="button">
                    {{ mixins.icon('icons_users') }}
                </button>
            </div>
        </div>
    </div>
    <div class="header__menu main-menu">
        <div class="main-menu__inner inner">
            <div class="main-menu__wrap">
                {% for item in [
                    {
                        icon: 'satellite',
                        text: 'Объекты'
                    },
                    {
                        icon: 'icons_geozones',
                        text: 'Геозоны'
                    },
                    {
                        icon: 'icons_drivers',
                        text: 'Водители'
                    },
                    {
                        icon: 'icons_map',
                        text: 'Карта'
                    },
                    {
                        icon: 'danger',
                        text: 'События'
                    },
                    {
                        icon: 'icons_gas',
                        text: 'АЗС'
                    },
                    {
                        icon: 'icons_services',
                        text: 'Сервисы'
                    },
                    {
                        icon: 'settings',
                        text: 'Настройки'
                    },
                    {
                        icon: 'icons_new',
                        text: 'Новый'
                    },
                    {
                        icon: 'icons_new',
                        text: 'Новый'
                    },
                    {
                        icon: 'icons_new',
                        text: 'Новый'
                    }
                ] %}
                    
                    <a href="#" class="main-menu__item">
                        <div class="main-menu__item-content">
                            <div class="main-menu__icon">{{ mixins.icon( item.icon ) }}</div>
                            <div class="main-menu__name">{{ item.text }}</div>
                        </div>
                    </a>

                {% endfor %}
            </div>
            <div class="main-menu__footer">
                <div class="main-menu__desktop">
                    <div class="main-menu__footer-icon">
                        {{ mixins.icon('union') }}
                    </div>
                    <div class="main-menu__footer-text">Полная версия</div>
                </div>
            </div>
        </div>
    </div>
</header>
