
.modal-header
    height: 57px
    border-bottom: 1px solid $lightGray
    &_low
        height: 48px
    &__inner
        height: 100%
        display: flex
        align-items: center
        justify-content: space-between
    &__btn
        display: flex
        align-items: center
        .btn-icon
            &:not(:first-child)
                margin-left: 24px

.head-object
    height: 48px
    border-bottom: 1px solid $lightGray
    position: relative
    &_high
        height: 56px
    &_bs
        box-shadow: 0 2px 2px 0 rgba($black, 0.25)
        border: none
    &__info
        height: 100%
        flex: 1 1 auto
        display: flex
        align-items: center
    &__inner
        height: 100%
        display: flex
        align-items: center
    &__btn
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 24px
        height: 24px
        background: none
        color: #999
        font-size: 16px
        margin-right: 10px
        &:before
            position: absolute
            content: ''
            top: -6px
            left: -6px
            bottom: -6px
            right: -6px
        .icon
            display: block
    &__title
        // display: inline-block
        color: rgba($dark, .54)
        margin-right: 16px
    &__icon
        margin-right: 17px
        max-width: 10px
        img
            display: block
            width: 100%
    &__comment
        margin-left: 8px
        color: rgba($dark, .54)
    &__btns
        flex: 0 0 auto
        display: flex
        align-items: center
        &-item
            &:not(:first-child)
                margin-left: 24px
    &__number
        margin-right: 10px

.page-header
    height: 57px
    border-bottom: 1px solid $lightGray
    background-color: #f3f3f3
    &__wrap
        position: relative
        display: flex
        align-items: center
        height: 100%
        padding-right: 24px
        +ms
            padding-right: 12px
    &__search
        height: 100%
        flex: 1 1 auto
        .form-control
            height: 100%
    &__btns
        flex-shrink: 0
        display: flex
        align-items: center
    &__btn
        margin-left: 24px

.tabs-header
    height: 57px
    border-bottom: 1px solid $lightGray
    &__inner
        display: flex
        height: 100%

    &__item
        position: relative
        flex: 1 1 72px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        &.is-active
            .btn-icon
                color: $blue
    &__text
        position: absolute
        color: $blue
        font-size: 10px
        font-weight: 600
        opacity: 0
        visibility: hidden
        transition: opacity .3s, visibility .3s
        .tabs-header__item.is-active &
            position: relative
            opacity: 1
            visibility: visible


// .modal-header,
// .head-object,
// .page-header,
// .tabs-header
//     &:first-child
//         position: fixed
//         left: 0
//         width: 100%
//         top: 54px
//         z-index: 10
//         background-color: #fff