.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-change-map-api {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_add {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_calendar {
  width: 1.36em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_filter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_geozones {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_key {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_map {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_menu {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_parking {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_satellite {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_speedometer {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_users {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-satellite {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-trash {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
