.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-baseline-brush {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
}
.icon-change-map-api {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1.11em;
  height: 1em;
  fill: currentColor;
}
.icon-diagonalArrows {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-ellipseZone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_add {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_calendar {
  width: 1.36em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_command {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_filter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_geozones {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_info {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_key {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_map {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_menu {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_parking-filled {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_parking {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_photos {
  width: 1.18em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_report {
  width: 0.8em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_routes {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_satellite {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_speedometer-crossed {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_speedometer {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_task {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_users {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-rectangleZone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-rounded-info-button {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-satellite {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-trash {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-triangleZone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-upRightArrows {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
