.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_calendar {
  width: 1.36em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_menu {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icons_users {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-satellite {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
